<%-include("../../views/partials/admin/header")%>
    <section class="content-main">
        <div class="content-header">
            <h2 class="content-title">Users list</h2>

        </div>
        <div class="card mb-4">
            <header class="card-header">
                <div class="row gx-3">
                    <!-- <div class="col-lg-4 col-md-6 me-auto">
                        <input type="text" placeholder="Search..." class="form-control" value="<%= search %>"
                            onkeypress="if(event.key === 'Enter') applyFilter()" />
                    </div> -->
                    <div class="col-lg-2 col-md-3 col-6">
                        <select class="form-select" onchange="applyFilter()">
                            <option value="all" <%=filter==='all' ? 'selected' : '' %>>Show all</option>
                            <option value="active" <%=filter==='active' ? 'selected' : '' %>>Active</option>
                            <option value="blocked" <%=filter==='blocked' ? 'selected' : '' %>>Blocked</option>
                        </select>


                    </div>

                </div>
            </header>
            <!-- card-header end// -->
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>User</th>
                                <th>Email</th>
                                <th>Status</th>
                                <th class="text-end">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (data.length===0) { %>
                                <tr>
                                    <td colspan="5" class="text-center">No users found</td>
                                </tr>
                                <% } %>
                                    <%for(let i=0;i<data.length;i++){%>
                                        <tr>
                                            <td width="40%">
                                                <a href="#" class="itemside">
                                                    <div class="left">
                                                        <img src="/assets/imgs/people/avatar-1.png"
                                                            class="img-sm img-avatar" alt="Userpic" />
                                                    </div>
                                                    <div class="info pl-3">
                                                        <h6 class="mb-0 title">
                                                            <%=data[i].name%>
                                                        </h6>
                                                        <small class="text-muted">
                                                            <%=data[i].phone%>
                                                        </small>
                                                    </div>
                                                </a>
                                            </td>
                                            <td>
                                                <%=data[i].email%>
                                            </td>

                                            <td>
                                                <%if(data[i].isBlocked===false){%>
                                                    <span class="badge rounded-pill alert-success">Active</span>
                                                    <%}else{%>
                                                        <span class="badge rounded-pill alert-danger">Blocked</span>
                                                        <%}%>
                                            </td>
                                            <td class="text-end">
                                                <% if (data[i].isBlocked===false) { %>
                                                    <a href="javascript:void(0)"
                                                        onclick="confirmAction('/admin/blockCustomer?id=<%= data[i].id %>&page=<%= currentPage %>', 'Block this user?')"
                                                        class="btn btn-sm btn-brand rounded font-sm mt-15">Block</a>
                                                    <% } else { %>
                                                        <a href="/admin/unblockCustomer?id=<%= data[i].id %>&page=<%= currentPage %>"
                                                            class="btn btn-sm btn-brand rounded font-sm mt-15">Unblock</a>
                                                        <% } %>
                                            </td>

                                        </tr>
                                        <%}%>
                        </tbody>
                    </table>
                    <!-- table-responsive.// -->
                </div>
            </div>
            <!-- card-body end// -->
        </div>
        <div class="pagination-area mt-15 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    <% for (let i=1; i <=totalPages; i++) { %>
                        <li class="page-item <%= i === currentPage ? 'active' : '' %>">
                            <a class="page-link" href="?page=<%= i %>&search=<%= search %>&filter=<%= filter %>">
                                <%= i %>
                            </a>
                        </li>
                        <% } %>
                </ul>

            </nav>
        </div>
        <!-- card end// -->
    </section>
    <!-- content-main end// -->

    <%-include("../../views/partials/admin/footer")%>

        <script>

            function applyFilter() {
                const filter = document.querySelector('.form-select').value;
                const search = document.querySelector('input[type="text"]').value;
                console.log(search)
                const currentPage = 1;
                window.location.href = `?page=${currentPage}&search=${encodeURIComponent(search)}&filter=${encodeURIComponent(filter)}`;
            }

            function confirmAction(url, message) {
                Swal.fire({
                    title: message,
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Yes',
                    cancelButtonText: 'Cancel',
                }).then((result) => {
                    if (result.isConfirmed) {
                        window.location.href = url;
                    }
                });
            }
        
        </script>