<%-include("../../views/partials/user/header")%>

    <head>
        <meta charset="utf-8" />

        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <!-- Favicon -->

        <!-- Template CSS -->
        <link href="assets/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
    </head>

    <body>


        <div class="spacer">

        </div>

        <section class="content-main">
            <div class="content-header">
                <h2 class="content-title">Profile setting</h2>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row gx-5">
                        <aside class="col-lg-3 border-end">
                            <nav class="nav nav-pills flex-lg-column mb-4">
                                <a class="nav-link active" aria-current="page" href="#">General</a>
                                <a class="nav-link" href="/address">Address</a>
                                <a class="nav-link" href="#">Admin account</a>
                                <a class="nav-link" href="#">SEO settings</a>

                            </nav>
                        </aside>
                        <div class="col-lg-9">
                            <section class="content-body p-xl-4">
                                <form id="userForm" enctype="multipart/form-data" onsubmit="submitForm(event)">
                                    <div class="row">
                                        <div class="col-lg-8">
                                            <div class="row gx-3">
                                                <div class="col-6 mb-3">
                                                    <label class="form-label">First name</label>
                                                    <input class="form-control" value="<%=user.name%>" name="name"
                                                        type="text" placeholder="Type here" />
                                                </div>
                                                <!-- col .// -->
                                                <div class="col-6 mb-3">
                                                    <label class="form-label">Last name</label>
                                                    <input class="form-control" value="<%=user.lastName%>"
                                                        name="lastName" type="text" placeholder="Type here" />
                                                </div>
                                                <!-- col .// -->
                                                <div class="col-lg-6 mb-3">
                                                    <label class="form-label">Email</label>
                                                    <input class="form-control" disabled value="<%=user.email%>"
                                                        type="email" placeholder="example@mail.com" />
                                                </div>
                                                <!-- col .// -->
                                                <div class="col-lg-6 mb-3">
                                                    <label class="form-label">Phone</label>
                                                    <input class="form-control" value="<%=user.phone%>" name="phone"
                                                        type="tel" placeholder="+1234567890" />
                                                </div>

                                                <!-- col .// -->
                                            </div>
                                            <!-- row.// -->
                                        </div>
                                        <!-- col.// -->

                                        <!-- col.// -->
                                    </div>
                                    <!-- row.// -->
                                    <br />
                                    <button class="btn btn-primary" type="submit">Save changes</button>
                                </form>
                                <hr class="my-5" />
                                <div class="row" style="max-width: 920px">
                                    <div class="col-md">
                                        <article class="box mb-3 bg-light">
                                            <a class="btn float-end btn-light btn-sm rounded font-md"
                                                href="/changePassword">Change</a>
                                            <h6>Password</h6>
                                            <small class="text-muted d-block" style="width: 70%">You can reset or change
                                                your password by clicking here</small>
                                        </article>
                                    </div>
                                    <!-- col.// -->
                                    <div class="col-md">
                                        <article class="box mb-3 bg-light">
                                            <a class="btn float-end btn-light rounded btn-sm font-md"
                                                href="/confirmPassword">Change</a>
                                            <h6>Email</h6>
                                            <small class="text-muted d-block" style="width: 70%">You can change or reset
                                                your email by clicking here</small>
                                        </article>
                                    </div>
                                    <!-- col.// -->
                                </div>
                                <!-- row.// -->
                            </section>
                            <!-- content-body .// -->
                        </div>
                        <!-- col.// -->
                    </div>
                    <!-- row.// -->
                </div>
                <!-- card body end// -->
            </div>
            <!-- card end// -->
        </section>
        <!-- content-main end// -->


        <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="assets/js/vendors/select2.min.js"></script>
        <script src="assets/js/vendors/perfect-scrollbar.js"></script>
        <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="assets/js/main.js?v=1.1" type="text/javascript"></script>

    </body>

    </html>

    <%-include("../../views/partials/user/footer")%>

        <script>
            
            async function submitForm(event) {
                event.preventDefault();
                const formData = new FormData(document.getElementById('userForm'));
                try {
                    const response = await fetch('/saveUserData', {
                        method: 'POST',
                        body: formData
                    })
                    const result = await response.json();
                    if (response.ok) {
                        swal({
                            icon: 'success',
                            title: 'Saved!',
                            text: 'The user data have been updated successfully',
                            confirmButtonText: 'OK',
                        }).then(() => {
                            location.reload();
                        });
                    } else {
                        swal('Error', result.message || "Failed to Update User Data", 'error');
                    }
                } catch (error) {
                    console.log('Error updating user Data', error);
                    swal("Error", 'An unexpected error occured while updating user Data', 'error');
                }
            }

        </script>