<%-include("../../views/partials/user/header")%>
	<style>
		#shopList {
			min-height: 500px;
			margin-bottom: 50px;
		}
	</style>

	<div class="shop-head">
	</div>
	<!-- Product -->
	<div class="bg0 m-t-23 p-b-140">
		<div class="container">
			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
					<button data-category="" class="category-link stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
						All Products
					</button>
					<% category.map((category)=>{%>
					<button data-category="<%=category._id%>" class="category-link stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" >
						<%=category.name%>
					</button>
					<%})%>
				</div>

				<div class="flex-w flex-c-m m-tb-10">
					<div
						class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
						<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
						<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Filter
					</div>

					<div
						class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search show-search">
						<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
						Search
					</div>
				</div>

				<!-- Search product -->
				<div class="dis-none panel-search w-full p-t-10 p-b-15" style="display: block;">
					<div class="bor8 dis-flex p-l-15">

						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
							<i class="zmdi zmdi-search"></i>
						</button>

							<input class="mtext-107 cl2 size-114 plh2 p-r-15" oninput="debounceSearch(this.value)" type="text" id="search" name="search"
								placeholder="Search" value="<%= search || '' %>">

					</div>
				</div>

				<!-- Filter -->
				<div class="dis-none panel-filter w-full p-t-10">
					<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
						<div class="filter-col1 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Sort By
							</div>

							<ul>
								<li class="p-b-6">
									<a href="#" value="createdAt" data-order="desc"
										class="filter-link stext-106 trans-04 sorting">
										New Arrival
									</a>
								</li>
								<li class="p-b-6">
									<a href="#" value="salePrice" data-sort="salePrice" data-order="desc"
										class="filter-link stext-106 trans-04 sorting">
										Price: High to Low
									</a>
								</li>
								<li class="p-b-6">
									<a href="#" value="salePrice" data-sort="salePrice" data-order="asc"
										class="filter-link stext-106 trans-04 filter-link sorting">
										Price: Low to High
									</a>
								</li>
								<li class="p-b-6">
									<a href="#" value="productName" data-sort="productName" data-order="asc"
										class="filter-link stext-106 trans-04 sorting">
										Aa-Zz
									</a>
								</li>
								<li class="p-b-6">
									<a href="#" value="productName" data-sort="productName" data-order="desc"
										class="filter-link stext-106 trans-04 sorting">
										Zz-Aa
									</a>
								</li>
							</ul>

						</div>


						<!-- 
						<div class="filter-col2 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Price
							</div>

							<ul>
								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
										All
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										$0.00 - $50.00
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										$50.00 - $100.00
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										$100.00 - $150.00
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										$150.00 - $200.00
									</a>
								</li>

								<li class="p-b-6">
									<a href="#" class="filter-link stext-106 trans-04">
										$200.00+
									</a>
								</li>
							</ul>
						</div> -->


						<!-- <div class="filter-col3 p-r-15 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Color
							</div>

							<ul>
								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #222;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href="#" class="filter-link stext-106 trans-04">
										Black
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #4272d7;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href="#" class="filter-link stext-106 trans-04 filter-link-active">
										Blue
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #b3b3b3;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href="#" class="filter-link stext-106 trans-04">
										Grey
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #00ad5f;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href="#" class="filter-link stext-106 trans-04">
										Green
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #fa4251;">
										<i class="zmdi zmdi-circle"></i>
									</span>

									<a href="#" class="filter-link stext-106 trans-04">
										Red
									</a>
								</li>

								<li class="p-b-6">
									<span class="fs-15 lh-12 m-r-6" style="color: #aaa;">
										<i class="zmdi zmdi-circle-o"></i>
									</span>

									<a href="#" class="filter-link stext-106 trans-04">
										White
									</a>
								</li>
							</ul>
						</div> -->

						<div class="filter-col4 p-b-27">
							<div class="mtext-102 cl2 p-b-15">
								Category
							</div>
							<div class="flex-w p-t-4 m-r--5">
								<a href="#" data-category=""
									class="category-link flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
									All Categories
								</a>
								<% category.map((category)=>{%>
									<a href="#" data-category="<%=category._id%>"
										class="category-link flex-c-m stext-107 cl6 size-301 bor7 p-lr-15 hov-tag1 trans-04 m-r-5 m-b-5">
										<%=category.name%>
									</a>
								<%})%>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row isotope-grid" id="shopList">

			</div>

			<div id="pagination" class="pagination" style="text-align: center;"></div>

			<style>
				.pagination {
					display: flex;
					justify-content: center;
					gap: 8px;
					margin-top: 0px;
				}

				.pagination button {
					padding: 10px 15px;
					border: 1px solid #ccc;
					background-color: #f9f9f9;
					color: #333;
					border-radius: 5px;
					cursor: pointer;
					font-size: 14px;
					transition: all 0.3s ease;
				}

				.pagination button:hover {
					background-color: #717fe0;
					color: #fff;
					border-color: #717fe0;
				}

				.pagination button:disabled {
					background-color: #ddd;
					color: #999;
					cursor: not-allowed;
					border-color: #ddd;
				}

				.pagination button.active {
					background-color: #717fe0;
					color: #fff;
					border-color: #717fe0;
				}
			</style>

		</div>
	</div>


	<%-include("../../views/partials/user/footer")%>

		<script>

			let sortBy;
			let order;
			let category;

			async function addToCart(productId) {
				console.log('hiii')
				const quantity = 1;
				try {
					const response = await fetch('/addToCart', {
						method: 'POST',
						headers: {
							'Content-Type': 'application/json',
						},
						body: JSON.stringify({ productId, quantity }),
					});

					const result = await response.json();
					if (result.success) {
						swal('success', "Added to cart !", "success")
					} else if (result.message == 'Please Login First') {
						swal('Oops', result.message, "error")
							.then(() => {
								location.href = result.redirect;
							})
					} else {
						swal('Oops', result.message, "error")
					}
				} catch (error) {
					console.error('Error adding to cart:', error);
				}
			};

			async function addToWishlist(productId) {
				const response = await fetch(`/addToWishlist`, {
					headers: { 'Content-Type': 'application/json' },
					method: 'POST',
					body: JSON.stringify({ productId: productId })
				})

				const result = await response.json();

				if (response.ok) {
					swal(
						'success',
						result.message,
						'success'
					)
				} else {
					swal(
						'success',
						result.message,
						'success'
					)
				}

			}

			document.addEventListener('DOMContentLoaded', () => {
				const categoryLinks = document.querySelectorAll('.category-link');
				categoryLinks.forEach(link => {
					link.addEventListener('click', async (event) => {
						event.preventDefault();
						category = link.getAttribute('data-category');
						await fetchProducts(1, 'createdAt', 'desc', category);
					});
				});

				const sortingLinks = document.querySelectorAll('.sorting');
				sortingLinks.forEach(link => {
					link.addEventListener('click', async (event) => {
						event.preventDefault();
						sortBy = link.getAttribute('data-sort');
						order = link.getAttribute('data-order');
						await fetchProducts(1, sortBy, order,category); 
					});
				});

				async function fetchProducts(page = 1, sortBy = 'createdAt', order = 'desc', category) {
					const search = document.getElementById('search')?.value || '';
					const minPrice = document.getElementById('minPrice')?.value || '';
					const maxPrice = document.getElementById('maxPrice')?.value || '';
					const params = new URLSearchParams({
						search,
						category,
						minPrice,
						maxPrice,
						sortBy,
						order,
						page,
						limit: 3,
					});
					try {
						const response = await fetch(`/shop/products?${params.toString()}`);
						const data = await response.json();
						displayProducts(data.products);
						setupPagination(data.currentPage, data.totalPages);
					} catch (error) {
						console.error('Error fetching products:', error);
					}
				}
				
				fetchProducts();

				function displayProducts(products) {
					console.log('Products:', products);
					const shopList = document.getElementById('shopList');
					shopList.innerHTML = '';
					products.forEach(product => {
						const productHTML = `
                <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                    <div class="block2">
                        <div class="block2-pic hov-img0">
                            <img src="uploads/re-image/${product.productImage[0]}" alt="IMG-PRODUCT">
                            <a href="#" onclick="addToCart('${product._id}')"
                                class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 js-show-modal1">
                                ADD TO CART
                            </a>
                        </div>
                        <div class="block2-txt flex-w flex-t p-t-14">
                            <div class="block2-txt-child1 flex-col-l ">
                                <a href="/product/${product._id}"
                                    class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                    ${product.productName}
                                </a>
                                <span class="stext-105 cl3">
                                    ₹${product.salePrice}
                                </span>
                            </div>
                            <div class="block2-txt-child2 flex-r p-t-3">
                                <a onclick="addToWishlist('${product._id}')"
                                    class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                    <img class="icon-heart1 dis-block trans-04" src="images/icons/icon-heart-01.png"
                                        alt="ICON">
                                    <img class="icon-heart2 dis-block trans-04 ab-t-l"
                                        src="images/icons/icon-heart-02.png" alt="ICON">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>`;
						shopList.innerHTML += productHTML;
					});
				}

				function setupPagination(currentPage, totalPages) {
					const pagination = document.getElementById('pagination');
					pagination.innerHTML = '';

					for (let i = 1; i <= totalPages; i++) {
						const button = document.createElement('button');
						button.textContent = i;
						button.onclick = () => fetchProducts(i, sortBy, order, category);
						if (i === Number(currentPage)) {
							button.disabled = true;
						}
						pagination.appendChild(button);
					}
				}
			
			});

			let debounceTimeout;

function debounceSearch(query) {
    clearTimeout(debounceTimeout);

    debounceTimeout = setTimeout(() => {
        searchOrders(query);
    }, 700); // Adjust the delay (in milliseconds) as needed
}

function searchOrders(query) {
    const searchParams = new URLSearchParams(window.location.search);

    if (query) {
        searchParams.set('search', query); // Set the search query
    } else {
        searchParams.delete('search'); // Remove the search query if empty
    }

    searchParams.set('page', 1); // Reset to the first page
    window.location.search = searchParams.toString(); // Reload the page with updated query params
}

			
		</script>