<%-include("../../views/partials/user/header")%>

<div class="spacer"></div>

<!-- Bread Crumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="/" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            Wishlist
        </span>
    </div>
</div>

<!-- Shoping Cart -->
<form class="bg0 p-t-75 p-b-85">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                <div class="m-l-25 m-r--38 m-lr-0-xl">
                    <div class="wrap-table-shopping-cart">
                        <% if(wishlist.items.length>0){ %>
                        <table class="table-shopping-cart">
                            <tr class="table_head">
                                <th class="column-1">Product</th>
                                <th class="column-2"></th>
                                <th class="column-3">Price</th>
                            </tr>
                            <%wishlist.items.map((item)=>{%>
                            <tr class="table_row">
                                <td class="column-1">
                                    <div class="how-itemcart1">
                                        <img src="/uploads/re-image/<%=item.image[0]%>" alt="IMG">
                                    </div>
                                </td>
                                <td class="column-2"><%=item.name%></td>
                                <td class="column-3">₹<%=item.price%></td>
                                <td>
                                    <div onclick="addToCart('<%=item.id%>')" class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
                                        Add To Cart
                                    </div>
                                    <div onclick="removeFromWishlist('<%=item.id%>')" class="flex-c-m stext-101 cl2 size-119 bg10 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10" style="background-color: #ff5c5c; color: white;">
                                        Remove
                                    </div>
                                </td>
                            </tr>
                            <% })%>
                        </table>
                        <%}else{%>
                            <div class="empty-cart" style="text-align: center;">
                                <h4>Your wishlist is empty.</h4>
                            </div>
                            <div>
                                <a href="/shop" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                                    Start Shopping
                                </a>
                            </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<%-include("../../views/partials/user/footer")%>

<script>

    async function addToCart(productId) {
        const quantity = 1;
        try {
            const response = await fetch('/addToCart', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ productId, quantity }),
            });

            const result = await response.json();
            if (result.success) {
                removeFromWishlist(productId)
                swal('Success', "Added to cart!", "success")
                    .then(() => {
                        location.reload();
                    })
            } else if (result.message == 'Please Login First') {
                swal('Oops', result.message, "error")
                    .then(() => {
                        location.href = result.redirect;
                    })
            } else {
                swal('Oops', result.message, "error")
            }
        } catch (error) {
            console.error('Error adding to cart:', error);
        }
    };

    async function removeFromWishlist(productId) {
        try {
            const response = await fetch('/removeFromWishlist', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ productId }),
            });

            const result = await response.json();
            if (result.success) {
                swal('Success', "Removed from wishlist!", "success")
                    .then(() => {
                        location.reload();
                    })
            } else {
                swal('Oops', result.message || "Failed to remove item", "error");
            }
        } catch (error) {
            console.error('Error removing from wishlist:', error);
        }
    }

</script>
